body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    background-color: rgb(255, 255, 255);

}
nav{
    border: solid;
    width: 98%;
    height: 75px;
    padding: 5px;
    background-color:rgb(157, 196, 230);
    color:rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid black;
    border-radius: 200px;

}
.logo{
    height: 100px;
    width: 100px;
    border: 0px solid;
}
.menu_bar{
    width:55%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu_bar li{
    margin-left: 20px;
}
.menu_bar li a{
    font-size: 19px;
    color: black;
    text-decoration: none;
}
.menu_bar li a:hover{
    color:rgb(120, 133, 137);
    opacity: 0.5;
}
.search_bar{
    display: flex;
    align-items: center;
    border: solid rgb(157, 196, 230);
    border-radius: 5px;

}
.search_bar form{
    display: flex;
}
.search_bar input{
    padding: 10px;
    border:5px solid white;
}

.button{
    display: flex;
    font-size: large;
}
.Heading{
    font-size: 40px;
    text-align: center;
    text-shadow: dimgray;
}
img{
    max-width: 400px;
    border: solid black;
}
.Joshua{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    font-size: 20px;
}
.Derek{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    font-size: 20px;
}
.Kripal{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    font-size: 20px;
}
.Steven{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh; 
    font-size: 20px;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
.Desc{
    padding: 25px;

}
.menu_bar li{
    margin-left: 20px;
    transition: 2s;
}
.menu_bar li:hover{
    transform:scale(2);
    z-index:2;
}
